################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PokerStatsProj/obj
/.vs
/PokerStatsProj/Class1.cs
/PokerStatsProj/Program.cs
/PokerStatsProj/Program.cs
